
/*
Youngseo Yi
9/26/23
CS20-Web Programming
HW2: Build a Business Website
Content: external style sheet for the website
*/

/*header: logo, email, phone*/
.header {
    width: 100%;
    color: #2b2d42;
    padding: 30px;
    font-size: 30px;
}

h1 {
    width: 100%;
    color: #d80032;
}

/*navigation bar with links*/
.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8d99ae;
    width: 100%;
}

/*Navigation Main Button Texts*/
.navbar a {
    display: block;
    color: #2b2d42;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 25%;
}

/*Current Navigation Tab*/
.activetab {
    background-color: #d80032;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: #2b2d42;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /*  navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color:#ef233c;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #8d99ae;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: #2b2d42;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ef233c;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /*for mobile version*/
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left;
    }
  }

/*Table Properties*/
table, th, td5 {
    width: 90%;
    border: 1px solid black;
    border-collapse: collapse;
}

/*700, 800 px/*

<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </div>
</div>